.checkout__input textarea {
    height: 150px;
    width: 100%;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    color: #666666;
    padding-left: 20px;
    margin-bottom: 20px;
    resize: none;
}
.checkout__input .item-files {
    border: none;
}
.item-files::-webkit-file-upload-button, .item-files::file-selector-button{
    padding: 10px;
    background-color: #f08632;
    color: whitesmoke;
    border: 1px ridge #e26b0c;
    border-radius: 10px;
}
.item-link:link{
    font-weight: 550;
}
.item-link:hover{
    color: #0b0b0b;
    text-decoration: underline;
}
.product__details__big__img {
    width: calc(84% - 20px);
    float: left;
    margin-right: 20px;
}
.product__details__big__img img {
    min-width: 100%;
}

.product__details__thumb {
    height: 100%;
    float: left;
    width: 16%;
    overflow: hidden;
}
.product__details__thumb .pt__item {
    margin-bottom: 10px;
    cursor: pointer;
}
.product__details__thumb .pt__item img {
    min-width: 100%;
    max-height: 100px;
}
#admin-panel{
    text-align: center;
    vertical-align: middle;
}
.admin-btn{
    max-width: 30%;
    background-color: #f08632;
}
.admin-btn:hover{
    background-color: #0b0b0b;
}
.admin-btn a{
    color: #fff;
}
.checkout__input input[type=radio] {
    margin-right: 0px;
    border: 0px;
    max-width: 10%;
    height: 2em;
    display: inline-block;
}
.stock-column {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 30px;
    padding-right: 30px;
}
.item-name-text-column {
    padding-right: 10px;
    margin-right: 0px;
}
.available-button, .unavailable-button {
    font-size: 0.6em;
    padding: 5px;
    margin-right: 60px;
}
.available-button {
    background-color: #1e7e34;
}
.unavailable-button {
    background-color: #a20e0e;
}