<!DOCTYPE html>
<html lang="en"
      html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Account Details</h1>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <th>Order ID</th>
        <th>Total Price</th>
        <th>Is Confirmed</th>
        </thead>
        <tbody>
        <tr th:each="order : ${orderList}">
            <td th:text="${order.getId()}"></td>
            <td th:text="${order.getPrice()}"></td>
            <td th:text="${order.isConfirm()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>